.header{
	
	height:100px;
	color:white;
	background-color:black;
	
}
.sec{
	margin-top:-30px;
	text-align:center;
	color:white;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/pro.jpg');
	background-size: cover;
	height:300px;
}

.image{
	padding:28px;
	margin-top:23px;
margin-bottom:303px;
}
.im{
	padding-left:90px;
}
.f1{
	
	
	
margin-right:5%;
	float:left;
	width:20%;
}

li{
	padding:20px;
	display:inline;
}


.f2{
	
	margin-right:5%;
	float:left;
	width:20%;
	
}


.f3{
	
		margin-right:5%;
	float:left;
	width:20%;
	
	
}

.image1{

margin-right:5%;
	float:left;
	width:30%;
}
.image2{
	float:left;
	width:30%;
	margin-right:5%;

}
.image3{
	float:left;
	width:30%;
	
	
}

.footer{
	margin-top:63px;
	padding-top:50px;
	color:white;
	margin:0px -22px 0px -22px;
	height:300px;
	background-color:black;
	clear:both;
	
}

@media screen and (max-width:1200px){
	
	

	.im{
	
	
	padding-left:350px;
}	
	
	.image1{
		

width:90%;
}
.image2{
	
	width:90%;
	margin-right:5%;

}
.image3{
	
	width:100%;
	
	
}
	
	
.f1{
	
	
	
margin-right:5%;
	float:left;
	width:40%;
}




.f2{
	
	margin-right:5%;
	float:left;
	width:40%;
	
}


.f3{
	
		margin-right:5%;
	clear:both;
		width:40%;
	
}

.reg{
	
	clear:both;
}

.f4{
			
		float:left;
		margin-right:5%;
		width:40%;
	
}
.footer{
	margin-top:63px;
	padding-top:50px;
	color:white;
	
	height:400px;
	background-color:black;
	clear:both;
	
}
	
	
}


@media screen and (max-width:900px){
	
	

	.im{
	
	
	padding-left:290px;
}	
	
	.image1{
		

width:90%;
}
.image2{
	
	width:90%;
	margin-right:5%;

}
.image3{
	
	width:100%;
	
	
}
	
	
.f1{
	
	
	
margin-right:5%;
	float:left;
	width:40%;
}




.f2{
	
	margin-right:5%;
	float:left;
	width:40%;
	
}


.f3{
	
		margin-right:5%;
	clear:both;
		width:40%;
	
}

.reg{
	
	clear:both;
}

.f4{
			
			float:left;
			margin-right:5%;
			width:40%;
	
}
.footer{
	margin-top:63px;
	padding-top:50px;
	color:white;
	
	height:600px;
	background-color:black;
	clear:both;
	
}
	
	
}

@media screen and (max-width:700px){
	
	
	
	
	.im{
	
	
	padding-left:190px;
}	
	
	.image1{
		

width:90%;
}
.image2{
	
	width:90%;
	margin-right:5%;

}
.image3{
	
	width:100%;
	
	
}
	
	
	.f1{
	
	
	
margin-right:5%;

	width:90%;
}




.f2{
	
	margin-right:5%;
	
	width:90%;
	
}


.f3{
	
		margin-right:5%;

		width:90%;
	
}

.reg{
	
	clear:both;
}

.f4{
			
			
			margin-right:5%;
			width:90%;
	
}
.footer{
	margin-top:63px;
	padding-top:50px;
	color:white;
	
	height:600px;
	background-color:black;
	clear:both;
	
}

	
	
}



@media screen and (max-width:500px){
	
.im{
	
	
	padding-left:90px;
}	
	
	.image1{
		

width:90%;
}
.image2{
	
	width:90%;
	

}
.image3{
	
	width:100%;
	
	
}
	
	
		
.f1{
	
	
	
margin-right:5%;

	width:90%;
}




.f2{
	
	margin-right:5%;
	
	width:90%;
	
}


.f3{
	
		margin-right:5%;

		width:90%;
	
}

.reg{
	
	clear:both;
}

.f4{
			
			
			margin-right:5%;
			width:90%;
	
}
.footer{
	margin-top:63px;
	padding-top:50px;
	color:white;
	
	height:600px;
	background-color:black;
	clear:both;
	
}
	
}